// app global css in SCSS form

.q-field__label {
	font-size: 24px;
}

.q-field__native {
	font-size: 18px;
}

.q-card {
	display: flex;
	height: 66vh;
	justify-content: center;
	/* align-items: center; */
}

.q-field__control-container {
	width: 120px !important;
}

.q-notification__content {
	font-size: 22px;
}

.q-notification__message {
	font-size: 22px;
}

.q-notification__caption {
	font-size: 18px;
}

.q-notification__icon {
	font-size: 28px;
}
